[pager]
	log = diff-highlight | less -+S
	show = diff-highlight | less -+S
	diff = diff-highlight | less -+S
[alias]
	b = branch
	bd = branch -D
	cm = commit -m
	c = commit
	co = checkout
	cb = checkout -b
	s = status --short --branch
	f = fetch --all --prune
	l = log --decorate --oneline --graph
	ls = log --decorate --oneline --graph --stat --find-renames
	gi = grep -n -i
	mnff = merge --no-ff
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	pr = "!po() { git push origin HEAD && hub compare $(git symbolic-ref --short HEAD) ;}; po"
	com = "!gi() { CB=$(git rev-parse --abbrev-ref HEAD); BRANCH=${1:-master}; git fetch --all && git branch -D $BRANCH && git checkout $BRANCH && git bd $CB ;}; gi"
[core]
	attributesfile = ~/.gitattributes
[ui]
	color = true
[diff "json"]
	textconv = "jq ."
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = histogram
	renames = true
[grep]
	lineNumber = true
	threads = 16
	fallbackToNoIndex = true
[user]
	name = Leko
	email = leko.noor@gmail.com
