[pager]
	log = diff-highlight | less -+S
	show = diff-highlight | less -+S
	diff = diff-highlight | less -+S
[user]
	email = leko.noor@gmail.com
	name = Leko
[alias]
	b = branch
	bd = branch -D
	cm = commit -m
	c = commit
	co = checkout
	cb = checkout -b
	s = status --short --branch
	f = fetch --all --prune
	l = log --decorate --oneline --graph
	gi = grep -n -i
	mnff = merge --no-ff
[core]
	attributesfile = /Users/leko/.gitattributes
[ui]
	color = true
[diff "json"]
	textconv = "jq ."
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = histogram
	renames = true
[ghq]
	core = ~/repos
